@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Martel+Sans:wght@600&family=Poppins:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

.main{
    background-image: url(Assests/images/bg.jpg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 75vh;
    position: relative;
}
.main .box{
    height: 75vh;
    width: 100%;
    opacity: 0.62 ;
    background-color: black;
    position: absolute;
    top: 0;

}
nav{
    display:flex ;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 90px;
   
}

nav img{
    width:160px;
    color: red;
    position: relative;
    z-index: 10;   /*netflix is about to pop out from the background*/
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    font-family: 'Poppins', sans-serif;
    height: calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 17px;
    padding: 0 30px;

}

.hero> :first-child{       /* > means immediate child       p                           pr condition apply hogi*/
    font-weight: 900;
    font-size: 48px;
    text-align: center;

} 
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;

}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

.separation{
    height: 7px;
    background-color: rgb(45, 44, 44);
    position: relative;
    z-index: 20;
}

.btn{
    padding: 3px 8px;
    background-color: rgba(248, 243, 243, 0.021);
    font-weight: 500;
    cursor: pointer;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.547);
    border-radius: 4px;
}
.btn-red-sm{
    background-color: red;
    color: white;
    transition: all 1s ease-out;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 5px 24px;
    font-size: 20px;
    border-radius: 4px;
    transition: all 0.5s ease-out;
}
.btn-red-sm:hover,.btn-red:hover{
    background-color: rgb(137, 0, 0);
    border-color: black;
}

.main input{
    padding: 12px 101px 12px 14px;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.5);
    border: 1px solid white;
    color: white;
    
}

.hero-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px
    ;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 70vw;
    color: white;
    
}

@media screen and (max-width: 1300px){
    nav{
        max-width: 90vw;
    }
   
  .first{
    flex-wrap: wrap;
  }
  .secimg img{
    width: 305px;
}
.secimg video{
    width: 487px;
}

.hero> :first-child{                               
font-size: 30px;
}

.hero> :nth-child(2){
   font-size: 18px;
}
.hero> :nth-child(3){
   font-size: 18px;
}
nav img{
    width:90px;}

    .hero-btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        
}


}


 .secimg{
   position: relative;
 }

.secimg img{
    width: 550px;
    position: relative;
    z-index: 10;
}

.secimg video{
position: absolute;
 right: 6px;
 bottom: 85px; 
 /* width: 550px; */

}

.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}

.first > div :first-child{
    font-size: 48px;
    font-weight: bolder
}
.first > div :nth-child(2){
    font-size: 24px;
    font-weight: lighter
}

.faq{
    color: white;
    padding: 34px;
} 

/* .faq :hover{
    background-color: #414141;
} */

.faq h2{
    text-align: center;
    font-size: 48px;
    font-weight: bolder;

}

.faqbox{
color: white;
background-color: rgb(45,45,45);
padding: 28px;
max-width: 70vw;
margin: 8px auto;
font-size: 24px;
cursor: pointer;
transition: all 1s ease-out;
}
.faqbox>div:first-child{
    display: flex;
    justify-content: space-between;
}
.faqbox> .ans{
    text-align: justify;
    padding: 5px 10px;
}
.faqbox svg{
    filter: invert(1);
    transition: all 0.3s ease-out;
}
.faqAns{
    max-height: 500px;
    height: max-content;
    overflow: hidden;
    color: #ffecec;
    transition: opacity 0.3s ease, max-height 0.5s ease;
}

.faqbox .btn{
    border: none;
}
.faqbox:hover{
    background-color: #414141;
}

.end{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    padding: 12px;
}
 footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
 }

 
 footer span{
     text-decoration: underline;
    }
    
.footer a,.pak{
    text-decoration: underline;
    color:  rgba(255,255,255,0.7); 
    padding: 7px;
    font-size: 14px;
}
    
 
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}

@media screen and (max-width: 1300px){
   .footer{
       display: grid;
       grid-template-columns: 1fr 1fr ;
   }

   .faq h2{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;

}
       
}

.footer-items{
    display: flex;
    flex-direction: column;
}

.footer-items a{
    text-decoration: none;
}
.footer-items a:hover{
    color: white;
}
.rotate-45{
    transform: rotate(45deg);
}
.d-none{
   opacity: 0;
   max-height: 0px;
}


